<style>
  .search-btn{
    background-color: #fe424d;
    color:white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .search-btn:hover{
    background-color: #fe424d;
    color:white;
  }

  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div>

        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search destination   " >
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        
        <div class="navbar-nav ms-auto"> <!--ms auto is used to shift all the anchor tags to right -->          
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <% if(!currUser) {%>
          <a class="nav-link "  href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% }else if(currUser) { %>
            <a class="nav-link" href="/logout"><b>Log Out</b></a>
          <% } %> 
        </div>
      </div>
    </div>
  </nav>

  
        
          <!--with the help of req.user we can check if we are logged in or not logged in 
 if before authentication we are not logged in we then req.user will be undefined 
 and if the user is logged in then req.user will contain user details we are checking this 
 because this is will help us to style the page, generally when we are logged in into the website 
 then the UI does'nt show the option of signup and login and reverse is when we ae logged out 
 so to built this functionality to our interface we are using req.user to check whether the user is
 logged in or logged out -->